
body {
  font-family: "BIZ UDPMincho", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(200, 206, 243);
  margin: 0px 200px; 
}

.main-container {
  display: flex;
}

.left-container {
  background-image: url("./images/backround.jpg");
  width: 900px;
  margin: 10px;
  padding-top: 30px;
}

.logo {
  font-family: "Aclonica", Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 230, 230);
  height: 165px;
  background: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
}

span {
  font-size: 54px;
  font-weight: bold;
}

.pic-credit {
  font-family: "Bubbler One", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 505px;
  font-size: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: rgb(28, 47, 87);
}

a {
  color: rgb(28, 47, 87);
}

.right-container,
.form-container {
  color: rgb(255, 230, 230);
  padding: 20px;
  margin: 10px;
  background: rgb(62, 93, 137);
}

.information {
  background: rgba(0, 0, 0, 0.26);
  padding: 20px;
  margin: 10px;
}

.message {
  margin: 30px;
}

.form-container {
  font-family: "Bubbler One", Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgba(255, 230, 230, 0.534);
}

fieldset {
  border: none;
  display: flex;
  justify-content: space-evenly;
}

.user-info {
  display: flex;
  flex-direction: column;
}

input[type=text], [type=tel], [type=email], [type=password] {
  width: 100%;
  padding: 4px;
  border: 2px solid rgb(62, 93, 137);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus,
input[type=tel]:focus, 
input[type=email]:focus, 
input[type=password]:focus {
  border: 2px solid rgb(255, 230, 230);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container {
  margin: 28px 0px;
  text-align: center;
}

button {
  font-family: "Jamjuree", Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
  border: 4px inset rgba(28, 47, 87, 0.753);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgb(200, 206, 243);
  padding: 8px 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(28, 47, 87);
}

button:active {
  background: rgb(169, 178, 235);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

button + p {
  margin-top:  10px;
  font-size: 14px;
}

a.log-in {
  color: rgb(200, 206, 243);
}

.my-name,
.required,
.error {
  font-family: "Bubbler One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: rgb(200, 206, 243);
  text-align: right;
}

